h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
a {
	color :aqua
}
img {
	margin-left: auto; 
	margin-right: auto;
	display: block;
}
footer {
	position: fixed;
	padding: 1.5rem 1rem 2rem 1rem;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background-color: black;
}