body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif; 
}

* {
	color: #dddddd;;
}
p {
	padding-left: 1rem;
	padding-right: 1rem;
}
footer {
	position: fixed;
	padding: 1.5rem 1rem 2rem 1rem;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background-color: black;
}