body {
	background-color: #131315;
	font-family: Arial, Helvetica, sans-serif; 
}

* {
	color: #dddddd;
}

img {
	background-color: gray;
}
th{
	
	border-top: 2px solid;
}
td, th{
	border-left: 2px solid;
	border-right: 2px solid;
	border-color: saddlebrown;
	padding: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
table{
	border-spacing: 0;
}
td:has(p){
	border-bottom: 2px solid saddlebrown;
}
footer {
	position: fixed;
	padding: 1.5rem 1rem 2rem 1rem;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background-color: black;
}